<footer class="footer">
    <p>{{ i18n.footer.copyright }}</p>
    <ul class="footer_nav">
        <li class="fnav-menu">
            <a href="about-us">{{ i18n.footer.about }}</a>
        </li>
        <li class="fnav-menu">
            <a href="contact">{{ i18n.footer.contact }}</a>
        </li>
        <li class="fnav-menu">
            <a href="terms-condition">{{ i18n.footer.terms }}</a>
        </li>
        <li class="fnav-menu">
            <a href="privacy-policy">{{ i18n.footer.privacy }}</a>
        </li>
        <li class="fnav-menu">
            <a href="youtube-short-downloader">{{ i18n.nav.youtubeShorts }}</a>
        </li>
        <li class="fnav-menu">
            <a href="youtube-music-downloader">{{ i18n.nav.youtubeMusicDownloader }}</a>
        </li>
        <li class="fnav-menu">
            <a href="youtube-to-mp3-320kbps-converter">{{ i18n.nav.youtubeMp3320 }}</a>
        </li>
        <li class="fnav-menu">
            <a href="youtube-to-wav-converter">{{ i18n.nav.youtubeToWav }}</a>
        </li>
        <li class="fnav-menu">
            <a href="youtube-to-ogg-converter">{{ i18n.nav.youtubeToOgg }}</a>
        </li>
        <li class="fnav-menu">
            <a href="youtube-to-opus-converter">{{ i18n.nav.youtubeToOpus }}</a>
        </li>
    </ul>
</footer>
