<footer class="footer">
    <p>{{ i18n.footer.copyright }}</p>
    <ul class="footer_nav">
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/about-us{% else %}/{{ lang.code }}/about-us{% endif %}">{{ i18n.footer.about }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/contact{% else %}/{{ lang.code }}/contact{% endif %}">{{ i18n.footer.contact }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/terms-condition{% else %}/{{ lang.code }}/terms-condition{% endif %}">{{ i18n.footer.terms }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/privacy-policy{% else %}/{{ lang.code }}/privacy-policy{% endif %}">{{ i18n.footer.privacy }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/youtube-short-downloader{% else %}/{{ lang.code }}/youtube-short-downloader{% endif %}">{{ i18n.nav.youtubeShorts }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/youtube-music-downloader{% else %}/{{ lang.code }}/youtube-music-downloader{% endif %}">{{ i18n.nav.youtubeMusicDownloader }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/youtube-to-mp3-320kbps-converter{% else %}/{{ lang.code }}/youtube-to-mp3-320kbps-converter{% endif %}">{{ i18n.nav.youtubeMp3320 }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/youtube-to-wav-converter{% else %}/{{ lang.code }}/youtube-to-wav-converter{% endif %}">{{ i18n.nav.youtubeToWav }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/youtube-to-ogg-converter{% else %}/{{ lang.code }}/youtube-to-ogg-converter{% endif %}">{{ i18n.nav.youtubeToOgg }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{% if lang.code == 'en' %}/youtube-to-opus-converter{% else %}/{{ lang.code }}/youtube-to-opus-converter{% endif %}">{{ i18n.nav.youtubeToOpus }}</a>
        </li>
    </ul>
</footer>
