{#- Calculate language prefix for internal links -#}
{%- set langPrefix = '' if (lang == 'en' or not lang) else '/' + lang -%}
<footer class="footer">
    <p>{{ i18nBase[lang].footer.copyright }}</p>
    <ul class="footer_nav">
        <li class="fnav-menu">
            <a href="/about-us">{{ i18nBase[lang].footer.about }}</a>
        </li>
        <li class="fnav-menu">
            <a href="/contact">{{ i18nBase[lang].footer.contact }}</a>
        </li>
        <li class="fnav-menu">
            <a href="/terms-condition">{{ i18nBase[lang].footer.terms }}</a>
        </li>
        <li class="fnav-menu">
            <a href="/privacy-policy">{{ i18nBase[lang].footer.privacy }}</a>
        </li>
        <li class="fnav-menu">
            <a href="{{ langPrefix }}/youtube-short-downloader">{{ i18nBase[lang].nav.youtubeShorts }}</a>
        </li>
    </ul>
</footer>
